COMPOSE_PROJECT_NAME=de-practicum-demo

POSTGRES_IMAGE=postgres:15
POSTGRES_USER=app
POSTGRES_PASSWORD=change-me
POSTGRES_DB=dwh
POSTGRES_HOST_PORT=15432

AIRFLOW_HOST_PORT=18085

SPARK_MASTER_UI_PORT=18080
SPARK_WORKER_UI_PORT=18081
SPARK_MASTER_PORT=17077
SPARK_CONNECT_PORT=15002
SPARK_CONNECT_UI_PORT=14040

JUPYTER_HOST_PORT=18888

MINIO_IMAGE=minio/minio:RELEASE.2025-04-22T22-12-26Z
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=change-me
MINIO_API_PORT=19000
MINIO_CONSOLE_PORT=19001

METABASE_IMAGE=metabase/metabase:v0.54.6
METABASE_HOST_PORT=13000

KAFKA_IMAGE=apache/kafka:4.0.0
KAFKA_HOST_PORT=19092
KAFKA_UI_IMAGE=provectuslabs/kafka-ui:latest
KAFKA_UI_HOST_PORT=18090

ICEBERG_REST_IMAGE=tabulario/iceberg-rest:latest
ICEBERG_REST_PORT=18181

TRINO_IMAGE=trinodb/trino:483
TRINO_HOST_PORT=18082

PROMETHEUS_IMAGE=prom/prometheus:v3.5.0
PROMETHEUS_HOST_PORT=19090
GRAFANA_IMAGE=grafana/grafana:11.2.0
GRAFANA_HOST_PORT=13001
